
#aboutBody
{
	min-height: 100vh;
	margin-bottom: 2%;
	background-image: url("https://images.unsplash.com/photo-1438116356317-4a94d22e3f15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	background-size: 100%;
	background-repeat: no-repeat;
	
}

#aboutwrapper
{
	width: 100%;
	min-height: 122vh;
	background-color: white;
	opacity: 0.7;
	position: absolute;
}

.aboutContent
{
	margin-left: 16%;
}

.shortIntro p
{
	font-size: 4vw;
    line-height: 1em;
    font-family: 'Playfair Display', serif;
}

.shortIntro
{
	margin-top: 20%;
}

.shortIntro .shortIntrotext
{
	font-size: 4vw;
    line-height: 1.8em;
    font-family: 'Playfair Display', serif;
}

#me
{
	padding-top: 20%;
	height: 100vh;
}


#chloe
{
	border-radius: 50%;
	width: 150px;
	height: 180px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 8%;
	margin-left: 0;
	background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

img
{
	width: 100%;
}

#paragraph
{
	width: 84%;
	line-height: 2em;
	font-size: 1vw;
	opacity: 0.95;
	padding-top:6%;
	font-family: 'Playfair Display', serif;
	
} 

#paragraph p
{
	padding-top: 6%;
	font-family: 'Playfair Display', serif;
}



#skill
{
	margin-top: 10%;
}


.skillContent p,
.skillContent p:hover,
.skillContent p:focus,
.skillContent p:active {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: bold;

}

.skillContent p:hover
{
	opacity: 1;
}


.skillContent p::before
{
  content: "";
  position: absolute;
  top: 65%;
  height: 1px;
  width: 0%;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.skillContent p::after {
  content: "";
  position: absolute;
  top: 65%;
  height: 1px;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s ease all .3s;
}

.skillContent:hover p::before {
  width: 90%;
  transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease-out;
}

.skillContent:hover p::after {
  width: 90%;
  transition: 0.4s ease all;
  transition-delay: 0.3s
}


#skill ul
{
	padding-left: 0;
}

#skill li
{
	margin-bottom: 3.5%;
	font-weight: bold;
	padding: 1%;
	transition: 0.5s ease all .3s;
}


.grayli
{
	opacity: 0.5;
}

.blackli
{
	opacity: 1;
}

#skill ul
{
	list-style-type: none;
}

#svgwrapper
{
	position: absolute;
	bottom: -20vh;
	left: 70vh;
}



.path {
  stroke-dasharray: 2000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}