#aboutBody {
	min-height: 100vh;
	margin-bottom: 1%;
	cursor: grab;
}

.aboutContent {
	margin-left: 16%;
}

#aboutdivider {
	margin-top: 13%;
	height: 64vh;
}

.shortIntro {
	margin-top: 0;
	top: 11%;
	/*	position: absolute;*/
}

.shortIntro p {
	font-size: 4vw;
	line-height: 1em;
	font-family: "Playfair Display", serif;
}

.shortIntro .shortIntrotext {
	font-size: 3.8vw;
	line-height: 1.8em;
	/*    font-family: 'Playfair Display', serif;*/
	font-family: "Zapf Humanist", serif;
}

#me {
	padding-top: 20%;
	height: 100vh;
}

#chloe {
	border-radius: 50%;
	width: 10vw;
	height: 13vw;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 8%;
	margin-left: 0;
	background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	background-size: cover;
}

img {
	width: 100%;
}

#paragraph {
	width: 92%;
	line-height: 2em;
	opacity: 0.8;
	padding-top: 6%;
	font-family: "Playfair Display", serif;
}

#paragraph h2 {
	/*	font-size: 2.2vw;*/
	font-family: "Roboto", sans-serif;
	font-size: 1.4vw;
	font-weight: bold;
}

#paragraph p {
	padding-top: 4%;
	/*	font-family: 'Playfair Display', serif;*/
	font-family: "Roboto", sans-serif;
	color: black;
	font-size: 1vw;
}

#skill {
	margin-top: 10%;
	clear: both;
}

/*.skillContent .count
{
	opacity: 0;
}
*/
.skillContent p,
.skillContent p:hover,
.skillContent p:focus,
.skillContent p:active {
	text-decoration: none;
	font-size: 1.2vw;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

/*.skillContent p:hover
{
	opacity: 1;
	transition: 0.7s ease all;
}


.skillContent p::before
{
  content: "";
  position: absolute;
  top: 65%;
  height: 1.5px;
  width: 0%;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.skillContent p::after {
  content: "";
  position: absolute;
  top: 65%;
  height: 1.5px;
  width: 0%;
  left: 3%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.7s ease all;
}

.skillContent:hover p::before {
  width: 90%;
  transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0);
  transition: 0.7s ease-out;
}

.skillContent:hover p::after {
  width: 90%;
  transition: 0.7s ease all;
  transition-delay: 0.3s
}*/

#skill ul {
	padding-left: 0;
}

#skill li {
	margin-bottom: 3.5%;
	padding: 1%;

	transition: 0.4s ease-in 0.5s;

	font-size: 1vw;
	font-family: "Roboto", sans-serif;
}

.count {
	position: absolute;
	float: left;
	bottom: 1.1vw;
	font-weight: 500 !important;
	font-size: 0.89vw !important;
	transition: 0.2s ease all 0.3s;
}

#count1 {
	left: 6.1vw;
}

#count2 {
	left: 5.8vw;
}

#count3 {
	left: 11.4vw;
}

.transli {
	opacity: 0;
}

.grayli {
	opacity: 0.1;
}

.blackli {
	opacity: 1;
}

#skill ul {
	list-style-type: none;
}

#svgwrapper {
	position: relative;
	bottom: -10vw;
}

.path {
	stroke-dasharray: 2000;
	animation: dash 5s linear alternate infinite;
}

@keyframes dash {
	from {
		stroke-dashoffset: 2000;
	}
	to {
		stroke-dashoffset: 0;
	}
}
