

#body
{
	color: white;
	height: calc(100vh - 5.2vw);
	position: relative;
	cursor: grab;
	overflow: hidden;
	background-color: black;
}

#divider
{
	height: 5.2vw;
	background-color: white;
}



canvas{
    position: absolute;
    top: -7vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 4px solid white;
    border-color: rgba(255,255,255,0.5);
    z-index: 0;


}


.name
{
	position: absolute;
	top: 30%;
	text-align: center;
	background-color: Transparent;
	border: none;
	z-index: 2;
	width: 100%;

}

.name h1, .name h3
{
	color: white;
	background-color: Transparent;
	z-index: 20;
}


.name h1
{
	letter-spacing: 0.9em;
	font-size: 2.8vw;
	margin-top: 4%;
	    font-family: 'Playfair Display', serif;

}

.name h3
{
	letter-spacing: 0.7em;
	font-size: 1.8vw;
	    font-family: 'Playfair Display', serif;
}



#c, #d, #e, #f, #g, #a, #b, #c2, #d2
{
	transition: all .2s ease-in-out
}

#c:hover, #d:hover, #e:hover, #f:hover, #g:hover, #a:hover, #b:hover, #c2:hover, #d2:hover
{ 
	transform: scale(1.1); 
}


