#nav
{
    width:100%;
    z-index:100;
    position: absolute;
  	top: 0;
  	width: 100%;
  	position: absolute;
}



.bg-light
{
	background-color: transparent !important;
}

.navbar
{
	width: 100%;
	z-index: 100;
	padding-top: 4.5%;
}



.navbar-brand
{
	margin-left: 4%;
	color: white !important;
	border: 2px solid black;
	background-color: black;
	width: 4vw;
	height: 4vw;
	text-align: center;
	align-items: center;
	font-size: 2vw;
}

.sticky {
	top: 0;
	position: fixed;
 
}

#navbarNav
{
	display: flex;
	justify-content: flex-end;
}

.navbar-nav
{
	margin-right: 3%;
	/*font-family: 'News Cycle', serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.nav-link
{
	font-size: 1.1vw;

}

.nav-link:hover
{
	opacity: 0.5;
}

.clicked
{
	opacity: 0.5;
}

.notclicked
{
	opacity: 1;
}

.white
{
	color: white !important;
}

.black
{
	color: black !important;
}

