#nav
{
    width:100%;
    z-index:100;
    position: absolute;
  	top: 0;
  	width: 100%;
  	position: absolute;
}



.bg-light
{
	background-color: transparent !important;
}

.navbar
{
	width: 100%;
	z-index: 100;
}

.nav-link, .navbar-brand
{
	color: white !important;
}

.sticky {
	top: 0;
	position: fixed;
 
}

#navbarNav
{
	display: flex;
	justify-content: flex-end;
}
